/* Variáveis - Catppucin mocha*/

:root {
  --background: #1e1e2e;
  --surface:    #313244;
  --overlay:    #6c7086;
  --text:       #cdd6f4;
  --purple:     #cba6f7;
  --pink:       #f5c2e7;
  --blue:       #89b4fa;
  --green:      #a6e3a1;
}

/*Ajuste de magens e bordas da página web:*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Corpo da página*/

body {
    background-color: var(--background); /*Cor de fundo do site*/
    color:var(--text); /*Cor dos textos*/
    font-family: "Inter", sans-serif; /*Fonte de texto*/
    font-size: 14px; /*Tamanho da fonte*/
    line-height: 1.6; /*Espaço entre as linhas*/
}

/*Classe de fonte especial(estilo código)*/

.codigo {
    font-family: "JetBrains Mono",monospace;
    color: var(--purple);
}

/*Personalizando nossos icones*/
img {
    filter: brightness(0) saturate(100%) invert(89%) sepia(19%) saturate(387%) hue-rotate(194deg) brightness(102%) contrast(97%);
    width: 18px; /*largura*/
    height: 18px; /*altura*/
    object-fit: contain; /*não distorce a imagem*/
}

.stacks li img{
    filter: brightness(0) saturate(100%) invert(77%) sepia(30%) saturate(600%) hue-rotate(200deg) brightness(105%) contrast(95%);
    transition: filter 0.3s;
}

/*Personalizando os links*/
a {
    text-decoration: none;
    color: var(--text);
}

.container {
  max-width: 1100px;   /* largura máxima */
  margin: 0 auto;      /* centraliza na página */
  padding: 0 20px;     /* espaço nas laterais */
}

/*Personalização do header*/
header {
    display: flex; 
    justify-content: space-between; /*Logo na esquerda e Nav na direita*/
    align-items: center; /*centraliza verticalmente*/
    padding: 20px 5%; /*Espaço interno*/
    border-bottom: 1px solid var(--surface); /*cria uma linha embaixo*/
}
/*Personalizando minha logo*/
.codigo {
    font-family: "JetBrains Mono",monospace;
    font-size: 1.2rem;
    color: var(--purple);
    letter-spacing: 2px; /*espaçamento entre as letras*/
}

/*Configurando NAV(centralizar lado à lado)*/
nav ul {
    display: flex;  /*itens do menu a lado*/
    list-style: none;/* tira as bolinas da lista */
    gap: 2rem; /* espaço entre as linhas */
}

nav a{
    font-family: "Inter",sans-serif;
    font-size: 0.95rem;
    color: var(--purple);
    text-decoration: none;
    letter-spacing: 1px;
    transition: color 0.3s, transform 0.3s; /*animação suave ao passar por cima com o cursor*/
    display: inline-block;
}

nav a:hover {
    color: rgb(140, 0, 255); /*fica roxo ao passar o mouse*/
    transform: translateY(-1px);
}

/*Lista de Stacks - ícones que ficam ao lado do texto*/
section ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap; /*quebra a linha se não couber*/
    gap: 1rem;
}

section ul li{
    display: flex; /*Ícone e texto lado a lado*/
    align-items: center; /*Alinha verticalmente*/
    gap: 8px; /*Espaço entre ícone e texto*/
}

.stacks li {
    background-color: rgba(66, 34, 85, 0.226); /*fundo transparente*/
    border: 1px solid var(--purple); /*borda roxa*/
    color: var(--purple); /*texto roxo*/
    padding: 6px 14px; /*espaços interno*/
    border-radius:  6px;
    font-family: "JetBrains Mono",monospace;
    transition: background-color 0.3s, color 0.3s; /*animação suave*/
    cursor: default; /*Cursor normal encima*/
}

.stacks li:hover{
    background-color: rgba(132, 0, 255, 0.452);

}